.panel{
    background: white;
    transition: all 0.5s;
    position: fixed;

    right:20%;
    left:20%;
    height:80%;

    box-shadow:#DDD 2px -2px 0px;
    border: 3px #DDD solid;

}


.hide{
    top:-100%;
}

.show{
    top:50px;    
}

div.panel#panelChose
{
    padding-top:50px;
}

div.panel#logPanel>div#logList
{
    position:absolute;
    bottom:0px;
    top:50px;
    right:50px;
    left:50px;
    overflow-y:scroll;
}


.panel>.close
{
    position:absolute;
    right:0px;
    top:0px;

    width:50px;
    height:50px;
    font-size:50px;
    text-align:center;
}

.panel>.option
{
    position:absolute;
    left:0px;
    top:0px;
    
    width:50px;
    height:50px;
    font-size:50px;
    text-align:center;
}


.panel>div.choses
{
    display:flex;
    flex-wrap:wrap;    
}

.panel>div.choses > div
{
    
    box-shadow:#DDD 2px -2px 0px;
    border: 3px #DDD solid;

    width:100px;
    height:100px;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-color:white;
    margin:3px;
    text-align:center;
    vertical-align:bottom;
    
}

.panel>div.range>div
{
    background:white;
    margin:3px;
    height:100px;
    flex-wrap:justify-content;
    display:flex;

}
.panel > div.range > div > *
{
    flex:1;
}

.panel > div.range > div > input
{
    flex:8;
}

.panel > div.range > div > button
{
    flex:2;
}


div.contener{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:-1;
    padding: 3%;
    background:white;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

div.contener > div.member
{
    box-shadow:#DDD 2px -2px 0px;
    border: 3px #DDD solid;
    animation:slide-up 0.5s;
    display:flex;
    height: 80px;
    min-width:200px;
    margin:3px;
}

div.contener > div.member>h3
{
    flex:6;
}

div.contener > div.member>img
{
    flex:4;
    background:#EEE;
    height:80px;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

div.alphabet{
    position:fixed;
    bottom:0px;
    right:0px;
    left:0px;
}


div.alphabet > div#leterContener
{
    display: flex;
    
}
div.alphabet > div#leterContenere > div:before{

    content: "";
    display: block;
    padding-bottom: 100%;
}

div.alphabet > div#leterContener > div
{
    flex:1;
    height:50px;
    
    margin:1px;

    text-align:center;
    font-size:30px;
    border-radius:30%;
    transition:all 0.5s;
    color:#BBBBBB;
    overflow: hidden;
    
    box-shadow:#DDD 2px -2px 0px;
    

    border-left: 3px #DDD solid;
}

div.alphabet > div#leterContener > div:hover
{
    background:#755;
    flex:2;
    box-shadow:white 0px 0px 0px;
}


div#messContener
{
    position:fixed;
    top:0px;
    
    right:30%;
    left:30%;
    width:40%;
    display:flex;
    flex-direction:column;
}


div#messContener > div
{
    transition: all 1s;
    height:50px;
    padding:5px;
    margin:2px;
    background:#ccc;
    text-align:center;
    display:block;
    border:2px #ddd solid;
    box-shadow: #bbb 5px 5px 10px;
    

}


@keyframes slide-up{
    from{
	transform: translate3d(0,-100px,0);
	opacity:0.0;}
    to{
	transform: translate3d(0,0,0);
	opacity:1;
      }
}


@keyframes slide{
    from{
	transform: translate3d(0,100px,0);
	opacity:0.0;}
    to{
	transform: translate3d(0,0,0);
	opacity:1;
      }
}

div#messContener > div.new
{
    animation:slide 0.7s;
    max-height: 50px;
}

div#messContener > div.old
{
    max-height: 0 px;
    opacity:0;
    height:0px;
    margin:0px;
    padding:0px;
}


div.panel#logPanel
{
    z-index:3;
}